<div class="container-fluid">
    <div class="split left">
        <div class="vl">
          <div class="row nc-mg-tb-17px" >
            <div class="nc-wd-17">
              <span class="nc-label">Booking Details:</span>
              <input type="text" placeholder="Branch" />
            </div>
            <div class="nc-wd-17">
              <input type="text" class="nc-mg-t-24px" placeholder="Consignment No" />
            </div>
            <div class="nc-wd-17">
              <input type="text" 
              class="nc-mg-t-24px" placeholder="Challan" disabled/>
            </div>
            </div>  

            
  
              <div class="row nc-mg-tb-17px" >
              <div class="nc-wd-17">
              <span class="nc-label">Date:</span>
              <input type="text" placeholder="Loading Reporting:" />
              </div>
              <div class="nc-wd-17">
                <input type="text" class="nc-mg-t-24px" placeholder="Loading" />
              </div>
              <div class="nc-wd-17">
                <input type="text" class="nc-mg-t-24px" placeholder="Expected Delivery" />
              </div>
              </div>
  
              <div class="row nc-mg-tb-17px" >
              <div class="nc-wd-17">
              <span class="nc-label">Vehicle:</span>
              <input type="text" placeholder="vehicle No:" disabled/>
              </div>
              <div class="nc-wd-17">
                <input type="text" class="nc-mg-t-24px" placeholder="vehicle type" disabled/>
              </div>
              <div class="nc-wd-17">
                <input type="text" class="nc-mg-t-24px" placeholder="Fleet start km"/>
              </div>
              </div>
  
              <div class="row nc-mg-tb-17px" >
            <div class="nc-wd-17">
              <span class="nc-label">Freight:</span>
              <input type="text" placeholder="Total Freight" />
            </div>
            <div class="nc-wd-17">
              <input type="text" class="nc-mg-t-24px" placeholder="Advance" />
            </div>
            <div class="nc-wd-17">
              <input type="text" 
              class="nc-mg-t-24px" placeholder="Balance" disabled/>
            </div>
            </div>
            
  
              <div class="row nc-mg-tb-17px" >
              <div class="nc-wd-17">
              <span class="nc-label">TDS:</span>
              <input type="text" placeholder="%" />
              </div>
              <div class="nc-wd-17">
                <input type="text" class="nc-mg-t-24px" placeholder="Amount" disabled/>
              </div>
              </div>
  
              <div class="row nc-mg-tb-17px" >
            <div class="nc-wd-17">
              <span class="nc-label">Consignment:</span>
              <input type="text" placeholder="other" />
            </div>
            <div class="nc-wd-17">
              <input type="text" class="nc-mg-t-24px" placeholder="Extra Freight" />
            </div>
            <div class="nc-wd-17">
              <input type="text" 
              class="nc-mg-t-24px" placeholder="Other" />
            </div>
            </div>
            
            <div class="row nc-mg-tb-17px" >
              <div class="nc-wd-17">
              <span class="nc-label">Material:</span>
              <input type="text" placeholder="Type" />
              </div>
              <div class="nc-wd-17">
              <span class="nc-label">Contract:</span>
              <input type="text" placeholder="Description" />
              </div>
              </div>
            </div>  
          </div>
            
      <div class="split right">
        <div class="vl">
          <div class="row nc-mg-tb-rmpx" >
            <div class="nc-wd-49">
              <span class="nc-label">Vendor:</span>
              <input type="text" 
               placeholder="Name" />
            </div>
          </div>
  
        <div class="row nc-mg-tb-rmpx" >
        <div class="nc-wd-30">
          <input type="text" 
          class="nc-mg-t-20px" placeholder="Contact Person" disabled/>
        </div>
        <div class="nc-wd-30">
          <input type="text" class="nc-mg-t-20px" placeholder="Mobile Number" disabled/>
        </div>
      </div>
        <div class="row nc-mg-tb-rpx" >
            <div class="nc-wd-49">
              <span class="nc-label">Broker:</span>
              <input type="text" 
               placeholder="Name" />
            </div>
          </div>
  
          <div class="row nc-mg-tb-rmpx" >
        <div class="nc-wd-30">
          <input type="text" 
          class="nc-mg-t-20px" placeholder="Contact Person" disabled/>
        </div>
        <div class="nc-wd-30">
          <input type="text" class="nc-mg-t-20px" placeholder="Mobile No" disabled/>
        </div>
      </div>
  
        <div class="row nc-mg-tb-rpx" >
            <div class="nc-wd-49">
              <span class="nc-label">Driver:</span>
              <input type="text" 
               placeholder="Name" />
            </div>
          </div>
  
          <div class="row nc-mg-tb-rmpx" >
        <div class="nc-wd-30">
          <input type="text" 
          class="nc-mg-t-20px" placeholder="Mobile No">
        </div>
        <div class="nc-wd-30">
          <input type="text" class="nc-mg-t-20px" placeholder="License No">
        </div>
      </div>

        <div class="row nc-mg-tb-rpx" >
            <div class="nc-wd-49">
              <span class="nc-label">Loading Supervisor:</span>
              <input type="text" 
               placeholder="Name" />
            </div>
          </div>
        
      <div class="nc-wd-17">
          <button class="btn btn-primary btn-lg nc-submit-btn"> Submit </button>
        </div>
  
        </div>
        </div> 
    </div>